# Dependencies
node_modules/

# SvelteKit
.svelte-kit/output/
.svelte-kit/generated/client/
.svelte-kit/generated/client-optimized/
.svelte-kit/types/

# Build output
build/
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
